<!-- ustawia style padding-top 3, margin-left 8 i margin-right 8 -->
<div class="categories pt-3 mx-8">
  <!-- pętla foreach do tworzenia "kontenerów" div dla każdej kategorii poza ALL -->
  @for (category of categories; track category.technicalName) {
    @if (category.technicalName !== 'ALL') {
      <!-- jeżeli kategoria ma status "category.activated = true" to zostanie dodana klasa "category-activated" -->
      <div class="flex flex-column align-items-center pb-3 category"
           [class.category-activated]="category.activated">
        <fa-icon class="mb-1" [icon]="category.icon"></fa-icon>
        <!-- wyświetla nazwę kategorii w widoku, dzięki 'title' po najechaniu kursorem zostanie wyświetlony tooltip -->
        <div title="{{category.displayName}}" class="name">{{ category.displayName }}</div>
      </div>
    }
  }
</div>
