<div class="flex align-content-center">
  <!-- jeśli imageUrl nie jest null, rozmiar obrazu IMG jest sterowany przez klasę avatarSize -->
  <!-- jeżeli jest null to <div> wyświetla ikonę domyślną 'user', rozmiar też jest sterowany przez AvatarSize -->
  @if (imageUrl() != null) {
    <img src="{{imageUrl()}}" alt="user-avatar" class="border-round-3xl avatar" [ngClass]="avatarSize()">
  } @else {
    <div class="flex align-items-center justify-content-center unknown-user" [ngClass]="avatarSize()">
      <fa-icon [icon]="'user'" class="text-dark"></fa-icon>
    </div>
  }
</div>
